<app-Header>
    <!--Angular Header goes here... -->
</app-Header>
<h3> </h3>
<div class="jumbotron">
    <h2>Application Content Below Module | Check Live Demo: <a href="http://www.angulartutorials.somee.com/" target="_blank">Angular
            Tutorails
        </a> or visit <a href="www.angulartutorials.somee.com" target="_blank">www.angulartutorials.somee.com</a></h2>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Angualr Application Modules</div>
    <div class="panel-body">
        <p>In this Application I have Created <b>CRUD(Create,Read,Update,Delet)</b> Opration with <b>Bootstrap Designing</b>
            that will easy to understand and how realtime Application Build.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Registration Module</div>
                    <div class="panel-body">
                        Registration Module is perform the insert opration with user Basic Information.
                        <a class="btn btn-default" routerLink="/registration">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Login Module</div>
                    <div class="panel-body">
                        Login Module is perform the Aurthanticaion with user Mobile No And Password.
                        <a class="btn btn-default" routerLink="/login">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Forgot Password Module</div>
                    <div class="panel-body">
                        Forgot Password Module is verify the user with his/her Mobile No.
                        <a class="btn btn-default" routerLink="/forgotpassword">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Active Profile Module</div>
                    <div class="panel-body">
                        Active Profile Module the user Deactivated profile can re-active again.
                        <a class="btn btn-default" routerLink="/activeprofile">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Docs</div>
                    <div class="panel-body">
                        In this page i have provided basic information which is use in Angular-5.
                        <a class="btn btn-default" routerLink="/docs">visit page &raquo;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">Blow Module You van see after you login in to the portel. based on Realtime Application
                it will manage a Session. try this on your own for better Understanding of angular</div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Profile Module</div>
                    <div class="panel-body">
                        Profile Module is Display Specific user Information and they can Edit his/her Profile.
                        <a class="btn btn-default" routerLink="/profile">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Change Password Module</div>
                    <div class="panel-body">
                        Change Password Module is allow user to modify his/her existing Password.
                        <a class="btn btn-default" routerLink="/changepassword">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">List Module</div>
                    <div class="panel-body">
                        After Login into the Portel you see the List of Product data in Home page
                        <a class="btn btn-default" routerLink="/home">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Delete Account Module</div>
                    <div class="panel-body">
                        Delete Account Module is allow user to Delete his/her Account.
                        <a class="btn btn-default" routerLink="/account">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Deactivate Account Module</div>
                    <div class="panel-body">
                        Deactivate Account Module is allow user to Deactivate his/her Account.
                        <a class="btn btn-default" routerLink="/account">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Logout Module</div>
                    <div class="panel-body">
                        Logout Button is Clear user Session and Redirect to Login Page.
                        <a class="btn btn-default" routerLink="/home">visit page &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Other Module Cover in this Project</div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Bootstrap Designing</div>
                    <div class="panel-body">
                        For this Website we use Bootstrap Designing.
                        <a class="btn btn-default" routerLink="/designing">visit page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Sweet Alert</div>
                    <div class="panel-body">
                        For All the page to give some info or alert we use Sweet Alert.
                        <a class="btn btn-default" target="_blank" href="https://sweetalert.js.org/"> more &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>