<app-Header>
    <!--Angular Header goes here... -->
</app-Header>
<br><br><br><h3> </h3>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 style="text-align:center"><b>Change Password Module</b></h3>
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style="text-align:center"><b>Change Password</b></h4>
            </div>
            <div class="panel-body">
                <form [formGroup]='changepasswordForm' (ngSubmit)="fnchangepassword(changepasswordForm)">
                    <p>
                        <label>Old Password</label>
                        <input type="password" formControlName='OldPassword' placeholder="Enter Your Old Password" class="form-control">
                    </p>
                    <div *ngFor="let validation of validationMessages.password">
                        <div class="text-danger" *ngIf="changepasswordForm.get('OldPassword').hasError(validation.type) && (changepasswordForm.get('OldPassword').dirty || changepasswordForm.get('OldPassword').touched)">{{validation.message}}
                        </div>
                    </div>
                    <p>
                        <label>Password</label>
                        <input type="password" formControlName='NewPassword' placeholder="Enter Your New Password" class="form-control">
                    </p>
                    <div *ngFor="let validation of validationMessages.password">
                        <div class="text-danger" *ngIf="changepasswordForm.get('NewPassword').hasError(validation.type) && (changepasswordForm.get('NewPassword').dirty || changepasswordForm.get('NewPassword').touched)">{{validation.message}}
                        </div>
                    </div>
                    <p>
                        <label>Confirm Password</label>
                        <input type="password" formControlName='ConfirmPassword' placeholder="Confirm Your Password" class="form-control">
                    </p>
                    <div *ngFor="let validation of validationMessages.confirm_password">
                        <div class="text-danger" *ngIf="changepasswordForm.get('ConfirmPassword').hasError(validation.type) && (changepasswordForm.get('ConfirmPassword').dirty || changepasswordForm.get('ConfirmPassword').touched)">{{validation.message}}
                        </div>
                    </div>
                    <button type="Submit" class="btn" [disabled]='!changepasswordForm.valid'>Change</button>
                    <!-- here i m adding Font Color Red To Display Error Message -->
                    <font class="text-success" *ngIf="successMessage != null"> {{successMessage}}</font>
                    <font class="text-danger" *ngIf="errorMessage != null">{{errorMessage}}</font>
                </form>
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Change Password Component</h4>
            </div>
            <div class="panel-body">
                <p>
                    Change Password page is allow user to create new Password. So in this page we created 3 component which are lsited below.
                </p>
                <ul>
                    <li>
                        <b>1. ChangePassword.component.html</b>('Find Component inside src/pages/ChangePassword/ Folder &raquo;
                        ChangePassword.component.html')
                        <p>ChangePassword html component we use form tag which is use for validation. you can see in this page.</p>
                    </li>
                    <li>
                        <b>2. ChangePassword.component.ts</b>('Find Component inside src/pages/ChangePassword/ Folder &raquo;
                        ChangePassword.component.ts')
                        <p>
                            we create 2 method in this component 1. ngOnInit() for Validation and 2. fnchangepassword() will allow user to change here
                            old password. In this component we share all the input data which are coming from View to the
                            <a target="_blank" href="https://github.com/RajanMistry88/Asp.Net-Mvc-WebAPI-Tutorials">WebAPI</a>
                            and use POST Request.
                        </p>
                    </li>
                    <li>
                        <b>3. ChangePassword.component.css</b> ('Find Component inside src/pages/ChangePassword/ Folder &raquo;
                        ChangePassword.component.css')
                        <p> if you want to create custom Css for this page you can create over here so it will only affect
                            on this page
                        </p>
                    </li>
                </ul>
                <hr>
                <a style="float:left" routerLink="/designing">Design Used</a> <a style="float:right" routerLink="/information">Application
                    Info
                </a>
            </div>
        </div>
    </div>
</div>