<app-Header>
    <!--Angular Header goes here... -->
</app-Header>
<br><br><br><h3> </h3>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 style="text-align:center"><b>Profile Activation Module</b></h3>
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style="text-align:center"><b>Profile Activation</b></h4>
            </div>
            <div class="panel-body">


                <div [ngSwitch]="ShowForm">
                    <form *ngSwitchCase="'MobileVerify'" novalidate [formGroup]='mobilenoForm' (ngSubmit)="fnProfileActive(mobilenoForm)">
                        <p>
                            <label>Mobile No</label>
                            <input type="tel" formControlName='MobileNo' placeholder="Enter Your Mobile No" class="form-control">
                        </p>
                        <div *ngFor="let validation of validationMessages.mobile_number">
                            <div class="text-danger" *ngIf="mobilenoForm.get('MobileNo').hasError(validation.type) && (mobilenoForm.get('MobileNo').dirty || mobilenoForm.get('MobileNo').touched)">{{validation.message}}
                            </div>
                        </div>
                        <button type="submit" class="btn" [disabled]='!mobilenoForm.valid'>Continue</button>
                    </form>

                    <form *ngSwitchCase="'PasswordVerify'" novalidate [formGroup]='passwordForm' (ngSubmit)="fnProfileActive(passwordForm)">
                        <p>
                            <label>Password</label>
                            <input type="password" class="form-control" formControlName="Password" placeholder="Enter Your Password">
                        </p>
                        <div *ngFor="let validation of validationMessages.password">
                            <div class="text-danger" *ngIf="passwordForm.get('Password').hasError(validation.type) && (passwordForm.get('Password').dirty || passwordForm.get('Password').touched)">{{validation.message}}
                            </div>
                        </div>
                        <button type="submit" class="btn" [disabled]='!passwordForm.valid'>Continue</button>
                    </form>
                </div>
                <!-- here i m adding Font Color Red To Display Error Message -->
                <font color=green *ngIf="successMessage != null"> {{successMessage}}</font>
                <font color=red *ngIf="!errorMessage != null">{{errorMessage}}</font>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Profile Activation Component</h4>
            </div>
            <div class="panel-body">
                <p>
                    Profile Activation page we verify the User Mobile No if it is Valid and user profile is Deactive then we ask her Password
                    if both the value match then we active his/her Profile.
                    <ul>
                        <li>
                            <b>1. ProfileActivation.component.html</b>('Find Component inside src/pages/ProfileActivation/
                            Folder &raquo; ProfileActivation.component.html')
                            <p>ProfileActivation html component we use form tag which is use for validation.In this page
                                we use 2 form tag which we are managing by switch case statment.</p>
                        </li>
                        <li>
                            <b>2. ProfileActivation.component.ts</b>('Find Component inside src/pages/ProfileActivation/
                            Folder &raquo; ProfileActivation.component.ts')
                            <p>
                                we create 2 method in this component 1. ngOnInit() for Validation and 2. fnProfileActivation() for verify User Profile using
                                Mobile No and Password. In this component we share all the input data which are coming from
                                view to the <a target="_blank" href="https://github.com/RajanMistry88/Asp.Net-Mvc-WebAPI-Tutorials">WebAPI</a>
                                and use POST Request.
                            </p>
                        </li>
                        <li>
                            <b>3. ProfileActivation.component.css</b> ('Find Component inside src/pages/ProfileActivation/
                            Folder &raquo; ProfileActivation.component.css')
                            <p> if you want to create custom Css for this page you can create over here, so it will only affect
                                on this page
                            </p>
                        </li>
                    </ul>
                    <hr>
                    <a style="float:left" routerLink="/designing">Design Used</a> <a style="float:right" routerLink="/information">Application
                        Info
                    </a>
            </div>
        </div>
    </div>
</div>