<app-Header>
    <!--Angular Header goes here... -->
</app-Header>
<br><br><br><h3> </h3>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 style="text-align:center"><b>Create New Password Module</b></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style="text-align:center"><b>Create New Password</b></h4>
            </div>
            <div class="panel-body">
                <form [formGroup]='newpasswordForm' (ngSubmit)="fnCreateNewPassword(newpasswordForm)">

                    <p>
                        <label>Password</label>
                        <input type="password" formControlName='NewPassword' placeholder="Enter Your New Password" class="form-control">
                    </p>
                    <div *ngFor="let validation of validationMessages.password">
                        <div class="text-danger" *ngIf="newpasswordForm.get('NewPassword').hasError(validation.type) && (newpasswordForm.get('NewPassword').dirty || newpasswordForm.get('NewPassword').touched)">{{validation.message}}
                        </div>
                    </div>
                    <p>
                        <label>Confirm Password</label>
                        <input type="password" formControlName='ConfirmPassword' placeholder="Confirm Your Password" class="form-control">
                    </p>
                    <div *ngFor="let validation of validationMessages.confirm_password">
                        <div class="text-danger" *ngIf="newpasswordForm.get('ConfirmPassword').hasError(validation.type) && (newpasswordForm.get('ConfirmPassword').dirty || newpasswordForm.get('ConfirmPassword').touched)">{{validation.message}}
                        </div>
                    </div>
                    <a routerLink="/forgotpassword" class="btn btn-default">Back</a>
                    <button type="Submit" class="btn" [disabled]='!newpasswordForm.valid'>Change</button>
                    <br />
                    <!-- here i m adding Font Color Red To Display Error Message -->
                    <font class="text-success" *ngIf="successMessage != null">{{successMessage}}</font>
                    <font class="text-danger" *ngIf="errorMessage != null">{{errorMessage}}</font>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Change Password Content</h4>
            </div>
            <div class="panel-body">
                <p>
                </p>
                <ul>
                    <li>
                        <b>1. ChangePassword.component.html</b>('Find Component inside src/pages/ChangePassword/ Folder &raquo;
                        ChangePassword.component.html')
                        <p>

                        </p>
                    </li>
                    <li>
                        <b>2. ChangePassword.component.ts</b>('Find Component inside src/pages/ChangePassword/ Folder &raquo;
                        ChangePassword.component.ts')
                        <p>

                        </p>
                    </li>
                    <li>
                        <b>3. ChangePassword.cshtml</b> ('Find View inside Views Folder &raquo; User Folder &raquo; ChangePassword.cshtml')
                        <p>
                        </p>
                    </li>
                </ul>
                <hr>
                <a style="float:left" href="/Home/Designing">Design Used</a> <a style="float:right" href="/Home/Information">Application
                    Info
                </a>
            </div>
        </div>
    </div>
</div>