<app-Header>
    <!--Angular Header goes here... -->
</app-Header>
<br><br><br><h3> </h3>
<div class="container">
    <!-- <h2>Home</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Home Page</div>
        <div class="panel-body">
            <a routerLink="/login">Login</a>
        </div>
    </div> -->

    <h3>Product List From JSON file</h3>
    <hr>
    <table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Discription</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let products of productJsonList">
                <td>{{ products.ProductID }}</td>
                <td>{{ products.ProductName }}</td>
                <td>{{ products.Discription }}</td>
                <td>{{ products.Price }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Product List</h3>
    <hr>
    <table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Discription</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList">
                <td>{{ product.Id }}</td>
                <td>{{ product.Name }}</td>
                <td>{{ product.Discription }}</td>
                <td>{{ product.Price }}</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>