<app-Header>
    <!--Angular Header goes here... -->
</app-Header>
<br><br><br><h3> </h3>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 style="text-align:center"><b>Forgot Password Module</b></h3>
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 style="text-align:center"><b>Forgot Password</b></h4>
            </div>
            <div class="panel-body">
                <form [formGroup]='forgotpasswordForm' (ngSubmit)="fnforgotpassword(forgotpasswordForm)">
                    <p>
                        <label>Mobile No</label>
                        <input type="tel" formControlName='MobileNo' placeholder="Enter Your Mobile No" class="form-control">
                    </p>
                    <div *ngFor="let validation of validationMessages.mobile_number">
                        <div class="text-danger" *ngIf="forgotpasswordForm.get('MobileNo').hasError(validation.type) && (forgotpasswordForm.get('MobileNo').dirty || forgotpasswordForm.get('MobileNo').touched)">{{validation.message}}
                        </div>
                    </div>

                    <button type="Submit" class="btn" [disabled]='!forgotpasswordForm.valid'>Recover</button>
                    <!-- here i m adding Font Color Red To Display Error Message -->
                    <font color=green *ngIf="successMessage != null"> {{successMessage}}</font>
                    <font color=red *ngIf="!errorMessage != null">{{errorMessage}}</font>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Forgot Password Component</h4>
            </div>
            <div class="panel-body">
                <p>
                    Forgot Password page we verify the User Mobile No if it is Valid then we send OTP SMS to his/her Number after verify the
                    OTP Application. allow user to Gengerate New Password. In This Applicaiton We have not intigrated any
                    SMS Service so we are not verify the OTP. If Mobile No is Valid then We Allow user to change His/Her
                    Password. And In Real time Application you have to integrate SMS or Email Services For Security.
                    <ul>
                        <li>
                            <b>1. ForgotPassword.component.html</b>('Find Component inside src/pages/ForgotPassword/ Folder
                            &raquo; ForgotPassword.component.html')
                            <p>ForgotPassword html component we use form tag which is use for validation.</p>
                        </li>
                        <li>
                            <b>2. ForgotPassword.component.ts</b>('Find Component inside src/pages/ForgotPassword/ Folder
                            &raquo; ForgotPassword.component.ts')
                            <p>
                                we create 2 method in this component 1. ngOnInit() for Validation and 2. fnforgotpassword() for verification if user Mobile
                                no is register or not. In this component we share all the input data which are coming from
                                View to the <a target="_blank" href="https://github.com/RajanMistry88/Asp.Net-Mvc-WebAPI-Tutorials">WebAPI</a> and use POST
                                Request.

                            </p>
                        </li>
                        <li>
                            <b>3. ForgotPassword.component.css</b> ('Find Component inside src/pages/ForgotPassword/ Folder
                            &raquo; ForgotPassword.component.css')
                            <p> if you want to create custom Css for this page you can create over here, so it will only affect
                                on this page
                            </p>
                        </li>
                    </ul>
                    <hr>
                    <a style="float:left" routerLink="/designing">Design Used</a> <a style="float:right" routerLink="/information">Application
                        Info
                    </a>
            </div>
        </div>
    </div>
</div>